body {
	margin:0;
	background color: #787878;
	color: white;
}

p1 {
	font-family: Verdana, Times New Roman, serif;
	font-size: 0.5 em;
	color: white;
}
	
p2 {
	font-family: Helvetica, Times New Roman, serif;
	font-size: 0.5 em;
	color: white;
}

p3 {
	font-family: Georgia, Times New Roman, serif;
	font-size: 0.5 em;
	color: white;
}

h1 {
	font-family: Arial Black, Times New Roman, serif;
	font-size: 2.0 em;
	color: white;
}

h2 {
	font-family: Helvetica, Times New Roman, serif;
	font-size: 2.0 em;
	color: white;
}

h3 {
	font-family: Verdana, Times New Roman, serif;
	font-size: 2.0 em;
	color: white;
}

h5 {
	font-family: American Typewriter, Times New Roman, serif;
	font-size: 2.0 em;
	color: white;
}

.margin {
	padding: 5% 2% 5% 2%
}

.green {
	background-color: #026363;
}

.black {
	background-color: black;
}

.blue {
	background-color: blue;
}

.purple {
	background-color: purple;
}

#header {
	background-color: #026363;
	width: 100%;
	color: white;
	z-index:100;
	}
	
.white {
	color: white;
	}
	
.img-container {
    text-align: center;
      }
      
h4 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: white;
}


